.navbar {
	$this: &;

	position: relative;
	background-color: vars.$color-accent-dark;
	width: 25%;
	z-index: 2;

	&-inner {
		position: sticky;
		position: -webkit-sticky;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		width: 100%;
		padding: 0 10%;
		top: 0;
		animation: fade-in vars.$transition-duration + 5 forwards;
	}

	&-brand {
		display: block;
		text-decoration: none;
		opacity: 0.5;
		transition: opacity vars.$transition-duration;

		&:hover {
			opacity: 1;
		}
	}

	&-logo {
		display: block;
		height: 60px;
		width: 100%;
		object-position: left;
		object-fit: contain;
	}

	&-nav {
		display: flex;
		flex-direction: column;
		list-style-type: none;

		&-item {
			padding: 0.75rem 1.55rem;
		}

		&-link {
			position: relative;
			font-size: 0.8rem;
			color: vars.$color-white;
			padding-bottom: 0.75rem;

			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 1.85px;
			cursor: pointer;
			opacity: 0.5;
			transform: opacity;
			transition: opacity vars.$transition-duration;

			&::before {
				position: absolute;
				content: '';
				background-color: vars.$color-white;
				height: 1px;
				width: 100%;
				bottom: 0;
				transition: transform vars.$transition-duration;
				transform-origin: left;
				transform: scaleX(0);
			}

			&:hover {
				opacity: 1;
			}

			&.active {
				opacity: 1;
				pointer-events: none;

				&::before {
					transform: scaleX(1);
				}
			}
		}
	}
}