$color-black: #000;
$color-white: #fff;

$color-primary: #111113;
$color-accent: #676665;
$color-accent-light: #9c9996;
$color-accent-dark: #1a191b;

$color-grey-100: #33333a;
$color-grey-200: #44444a;
$color-grey-300: #66666a;
$color-grey-400: #88888a;
$color-grey-500: #99999a;

$transition-duration: 0.28s;

$wrapper-breakpoint: 1200px;


$breakpoint-xl: 1080px;
$breakpoint-lg: 980px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 664px;

$navbar-width: 300px;
$wrapper-width: 920px;