.spinner {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;
	border: 6px solid vars.$color-grey-500;
	border-top-color: transparent !important;
	border-radius: 100%;
	animation: spin 0.7s forwards infinite linear;
}