.btn {
	$this: &;

	position: relative;
	display: inline-block;
	border: none;
	outline: none;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	line-height: initial;
	appearance: none;
	-webkit-appearance: none;
	letter-spacing: 2px;
	white-space: nowrap;
	z-index: 1;
	overflow: hidden;

	&::before,
	&::after {
		position: absolute;
		content: '';
		background-color: vars.$color-accent;
		height: 100%;
		width: 100%;
		left: 0;
		z-index: -1;
		transition: transform vars.$transition-duration;
	}

	&::before {
		top: 0;
		transform: translateY(-100%);
	}

	&::after {
		bottom: 0;
		transform: translateY(100%);
	}

	&:not(:disabled) {

		&:hover,
		&:active {
			color: vars.$color-white;

			&::before,
			&::after {
				transform: translateY(0);
			}
		}
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&-primary {
		background-color: vars.$color-accent;
		font-weight: light;
		color: vars.$color-white;

		&::before,
		&::after {
			background-color: vars.$color-primary;
			opacity: 0.4;
		}
	}

	&-secondary {
		background-color: transparent;
		box-shadow: inset 0 0 0 1px vars.$color-accent;
		color: vars.$color-accent;

		&[data-is-active="true"] {
			background-color: vars.$color-accent !important;
			color: vars.$color-white !important;
			pointer-events: none;
		}
	}

	&-tertiary {
		background-color: transparent;
		box-shadow: inset 0 0 0 1px vars.$color-accent;
		color: vars.$color-accent;

		&::before,
		&::after {
			background-color: vars.$color-accent-light;
			opacity: 0.2;
		}
	}

	// Sizes

	// btn-sm
	&-sm {
		padding: 0.55rem 0.75rem;
		font-size: 0.8rem;
	}

	// btn-md
	&-md {
		padding: 1rem 1.25rem;
		font-size: 0.9rem;
	}

	// btn-lg
	&-lg {
		padding: 0.8rem 1.25rem;
		font-size: 1rem;
	}

	// btn-xl
	&-xl {
		padding: 1.45rem 2.25rem;
		font-size: 1rem;
	}
}