.gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &-header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 0.75rem;

        button {
            margin: 0.45rem;
        }
    }

    &-tabs {
        position: relative;

        &-inner {
            position: absolute;
            padding-bottom: 2rem;
            height: 100%;
            opacity: 0;
            top: 0;
            left: 0;
            overflow-y: auto;
            pointer-events: none;
            transition: opacity 0.1s, transform 0.3s;
            transform: translateY(100px);
            transform-origin: bottom;

            &-active {
                position: relative;
                opacity: 1;
                pointer-events: all;
                transform: translateY(0);
            }
        }
    }

    &-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        &-item {
            flex: 1 0 50%;
            height: 300px;
            width: 100%;
            padding: 0.25rem;

            iframe {
                border: none;
                width: 100%;
                height: 100%;
                border: 1px solid vars.$color-accent;
            }
        }
    }
}