.container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;

    &-inner {
        width: 100%;
    }

    @include mixins.break-max(vars.$breakpoint-tablet) {
        flex-direction: column;
    }
}